/* Write your CSS here. */
.wgs{
    height: 482px;
    position: relative;
    width: 640px;
    display: inline-block;
    overflow: hidden;
}

.wgs__dirt-pile {
    height: 220px;
    position: absolute;
    width: 640px;
    top: 262px;
}

.wgs__mole-head {
    height: 356px;
    position: absolute;
    width: 376px;
    left: 108px;
    transition: 0.25s;
}

.wgs__mole-head--hidden {
    margin-top: 482px;
}
